{% extends 'foodstore/base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center h-90vh">
    <div class="card shadow">
        <div class="card-body">
            <img class="mx-auto mb-3" src="{% static '/images/el-cerdo logo 150px.png' %}" alt="" width="250px" height="auto">
            {% block authentication %}
            {% endblock %}
            <p class="text-center font-small mt-3">Already have account? <a href="{% url 'store-login' %}">Log in here</a></p>
            <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
        </div>
    </div>
</div>
{% endblock %}