{% extends 'foodstore/base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center h-90vh">
    <div class="card shadow">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <img class="mx-auto mb-3" src="{% static '/images/colored logo.png' %}" alt="" width="250px" height="auto">
            </div>
            {% block authentication %}
            {% endblock %}
            {% if 'login' in request.path %}
                <p class="text-center font-small mt-3">Don't have account? <a href="{% url 'store-signup' %}">Sign up here</a></p>
            {% else %}
                <p class="text-center font-small mt-3">Already have account? <a href="{% url 'store-login' %}">Log in here</a></p>
            {% endif %}
            <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
        </div>
    </div>
</div>
{% endblock %}