{% extends 'foodstore/authentication_template.html' %}
{% load static %}
{% block authentication %}
  <div class="card-title text-center">Reset password</div>
  <form method="POST" action="{% url 'store-passwordReset' %}" class="form-signin text-center" style="max-width: 250px;">
    {% csrf_token %}
      {{ form.email }}
      {% if form.errors %}
        <div class="font-small mt-3 alert alert-danger p-0">
            <p class="my-1 font-small mx-1"><i class="fas fa-exclamation-triangle" style="width: 30px;"></i> Enter a valid email address</p>
        </div>
      {% endif %}
      <button class="btn btn-lg btn-primary btn-block mx-auto font-small" type="submit" style="width: fit-content;">Reset</button>
  </form>
{% endblock %}