{% extends 'foodstore/profile_base.html' %}
{% load static %}
{% block profileContent %}
<div class="card shadow w-100">
    <div class="card-body">
        <div class="card-title text-center">Change Password</div>
        <form id="passwordChangeForm" class="form-signin mx-auto" style="max-width: 250px;">
            {{ form.old_password }}
            {{ form.new_password1 }}
            {{ form.new_password2 }}
            <div id="passwordChangeError" class="font-small mt-3 alert alert-danger p-0" hidden></div>
            <button id="changePasswordBtn" class="btn btn-lg btn-primary btn-block mx-auto font-small" type="submit" style="width: fit-content;">Change password</button>
        </form>
    </div>
</div>
{% endblock %}
<script>
    {% block js %}
        function getPasswordChangeForm(){
            inputs = $('#passwordChangeForm').find('input')
            data = {}
            for (i=0; i<inputs.length; i++){
                data[inputs[i].name] = inputs[i].value
            }
            return data
        }

        function renderPasswordChangeErrors(formErrors){
            htmlcontext = ''
            for (const field in formErrors){
                for (i=0; i<formErrors[field].length; i++){
                    htmlcontext += `<p class="my-1 font-small mx-1"><i class="fas fa-exclamation-triangle" style="width: 30px;"></i>${field.charAt(0).toUpperCase() + field.slice(1)}: ${formErrors[field][i]}</p>`
                }
            }
            return htmlcontext
        }
    {% endblock %}
    {% block jquery %}
        function changePassword(){
            $('#changePasswordBtn').click(function(e){
                $.ajaxSetup({
                    beforeSend: function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                })
                e.preventDefault();
                const passwordChangeData = getPasswordChangeForm()
                $.ajax({
                    url: '/profile/Change Password/',
                    method: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({'passwordChangeData': passwordChangeData}),
                    success: function(data){
                        window.location.href = data.url
                    },
                    error: function(data){
                        formErrors = data.responseJSON['error']
                        htmlcontext = renderPasswordChangeErrors(formErrors)
                        $('#passwordChangeError').html(htmlcontext)
                        $('#passwordChangeError').prop('hidden', false)
                    }
                })
            })
        }
        $(document).ready(changePassword())
    {% endblock %}
</script>
