{% extends 'foodstore/profile_base.html' %}
{% load static %}
{% block profileContent %}
<div class="card shadow w-100">
    <div class="card-body text-center">
        <div class="card-title">Password successfully changed</div>
        <p>You have changed your password successfully, you may click button below to back to store.</p>
        <a class="btn btn-lg btn-primary btn-block mx-auto font-small" href="{% url 'store-home' %}" style="width: fit-content;">Back to store</a>
    </div>
</div>
{% endblock %}