{% extends 'foodstore/authentication_template.html' %}
{% load static %}
{% block authentication %}
<div class="card-title text-center">Password reset sent</div>
    <form method="POST" class="form-signin text-center" style="max-width: 250px;">
      {% csrf_token %}
        <p class="text-left">Please check your email to reset password.</p>
        <a class="btn btn-lg btn-primary btn-block mx-auto font-small" type="submit" style="width: fit-content;">Log in</a>
    </form>
</div>
{% endblock %}